<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="freeMarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
<!--        指定模板文件所在目录-->
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"></property>
<!--        指定字符编码-->
        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>
    <context:property-placeholder location="classpath:freemarker.properties"></context:property-placeholder>
</beans>